name: Build EXE

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m venv .venv
        ./.venv/Scripts/python -m pip install --upgrade pip
        ./.venv/Scripts/pip install pyinstaller xsdata click jinja2 toposort

    - name: Build EXE
      run: |
        ./.venv/Scripts/pyinstaller exe.spec

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: XSDtoCODE-EXE
        path: dist/XSDtoCODE/